@font-face {
  font-family: 'Noto Sans';
  src: url('./NotoSans-Bold.ttf');
}


.input-icon {
  position: relative;
  display: inline-block;

}

.input-icon input[type="text"] {
  padding-left: 40px; /* Para dejar espacio al icono */
  border: 1px solid #000000;
  border-radius: 5px;
  height: 40px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 200px;
  margin: 0 auto; /* Alinea los inputs al centro */
}



.input-icon .icon-correo {
  position: absolute;
  top: 10px;
  border:8px;
  left: 93px;
  width: 30px; /* Ancho del icono */
  height: 30px; /* Alto del icono */
  pointer-events: none; /* Para que el icono no sea interactivo */
  z-index: 1; /* Para que el icono esté sobre el input */
  background-image: url('./correo.png'); /* Ruta de la imagen del icono */
  background-repeat: no-repeat;
  background-size: contain; /* Para que el icono se ajuste al tamaño del contenedor */
}


.login-button {
  background-color: black;
  color: white;
  width: 144px;
  height: 39px;
  font-size: 10;
  background-color: black;
  border-radius: 10px;
  font-family: "Noto Sans";
  margin-top: -50px;
}


.container {
  margin: 100px auto 0;
  padding: 20px;
  width: 417px;
  height: 584px;
  border-radius: 5px;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.login-form {
  display: flex;
  flex-direction: column;
}




.input-icon {
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 15px;
}



.buttons {
  display: flex;
  justify-content: center;

}


.container div:first-child {
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top:  80px;
  margin-bottom: 0px;
}

hr {
  border: 0;
  height: 1px;
  background-color: black;
  margin: 20px 0;

}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: -80px;
}



.mensaje {
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12;
  width: 321px;
  height: 49px;
  margin-bottom: 80px;
  text-align: center;
  margin-left: 10%;
}
