<div class="container">


    <div>
      Recuperar Contraseña
    </div>

  <hr>
    <div class ="mensaje">
      las instrucciones de recuperación de contraseña se enviaran al correo electronico especificado en el registro
    </div>


  <div class="input-icon">
    <input type="text" placeholder="Correo">
    <span class="icon-correo"><i class="fas fa-search"></i></span>
  </div>
  </div>


  <div class="buttons">
    <button class="login-button" routerLink="/sendcodes">Enviar Código</button>
  </div>


