
<div>
  <div class="navbar">
  <div class="logo">
  <img src="../assets/logosmartalarmapp.png" alt="Logo" style="width: 200px; height: auto;">
  </div>

  <nav class="tabs" *ngIf="mostrartabs">
    <nav mat-tab-nav-bar  [tabPanel]="tabPanel">
      <a  mat-tab-link class="mat-display-1"
          *ngFor="let link of links" [routerLink]="['/', link.toLowerCase()]"
          (click)="activeLink = link;"
          [active]="activeLink == link"
           [ngClass]="{ 'active-link': activeLink == link }">{{ link }}
        </a>
    </nav>

    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
  </nav>
  <div class="buttons" >
    <button class="login-button" *ngIf="isLoggedIn" routerLink="/login">Login</button>
    <button class="login-button" *ngIf="isLoggedIn" routerLink="/registro">Registrarse</button>
  </div>


  <div class="logueado" *ngIf="mostrartabs">
    <div class="bienvenida">
    <span class="bienvenido">Bienvenido </span><span class="usuario">usuario</span>
  </div>
  <div class="logout">
    <a href="/login">logout</a>
  </div>
  </div>
</div>
