<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="registros">
        05:00 am
      </mat-panel-title>
      <mat-panel-description>
        Entre Semana
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="contenido-panel">
      <div class="checkboxes-container-container">
        <label class="checkboxes-label">Repetir:</label>
        <div class="checkboxes-container">
          <label><input type="checkbox" checked />Lun</label>
          <label><input type="checkbox" checked />Mar</label>
          <label><input type="checkbox" checked />Mie</label>
          <label><input type="checkbox" checked />Jue</label>
          <label><input type="checkbox" checked   />Vie</label>
          <label><input type="checkbox" />Sab</label>
          <label><input type="checkbox" />Dom</label>
        </div>
      </div>
      <div class="form-group horizontal">
        <label for="texto1">Lugar:</label>
        <input type="text" id="Lugar" name="Lugar" placeholder="Casa">
      </div>

      <div class="form-group horizontal">
        <label for="texto2">Sonido:</label>
        <input type="text" id="Sonido" name="Sonido" placeholder="Tono1">
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="registros">
        06:00 am
      </mat-panel-title>
      <mat-panel-description>
        Lunes y Martes
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="contenido-panel">
      <div class="checkboxes-container-container">
        <label class="checkboxes-label">Repetir:</label>
        <div class="checkboxes-container">
          <label><input type="checkbox" checked  />Lun</label>
          <label><input type="checkbox" checked />Mar</label>
          <label><input type="checkbox" />Mie</label>
          <label><input type="checkbox" />Jue</label>
          <label><input type="checkbox" />Vie</label>
          <label><input type="checkbox" />Sab</label>
          <label><input type="checkbox" />Dom</label>
        </div>
      </div>
      <div class="form-group horizontal">
        <label for="texto1">Lugar:</label>
        <input type="text" id="Lugar" name="Lugar" placeholder="Casa">
      </div>

      <div class="form-group horizontal">
        <label for="texto2">Sonido:</label>
        <input type="text" id="Sonido" name="Sonido" placeholder="Tono1">
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="registros">
        10:00 am
      </mat-panel-title>
      <mat-panel-description>
        Sabado
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="contenido-panel">
      <div class="checkboxes-container-container">
        <label class="checkboxes-label">Repetir:</label>
        <div class="checkboxes-container">
          <label><input type="checkbox"   />Lun</label>
          <label><input type="checkbox"  />Mar</label>
          <label><input type="checkbox" />Mie</label>
          <label><input type="checkbox" />Jue</label>
          <label><input type="checkbox" />Vie</label>
          <label><input type="checkbox" checked/>Sab</label>
          <label><input type="checkbox" />Dom</label>
        </div>
      </div>
      <div class="form-group horizontal">
        <label for="texto1">Lugar:</label>
        <input type="text" id="Lugar" name="Lugar" placeholder="Casa">
      </div>

      <div class="form-group horizontal">
        <label for="texto2">Sonido:</label>
        <input type="text" id="Sonido" name="Sonido" placeholder="Tono1">
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
