<div class="container">


  <div>
    Cambiar contraseña
  </div>

<hr>

<div class="labelinput">
  Digite nueva contraseña
</div>
<div class="input-icon">
  <input type="text" placeholder="Password">
  <span class="icon-passwd"><i class="fas fa-search"></i></span>
</div>


<div class="labelinput">
  confirme contraseña
</div>
<div class="input-icon">
  <input type="text" placeholder="Password">
  <span class="icon-passwd"><i class="fas fa-search"></i></span>
</div>

</div>


<div class="buttons">
  <button class="login-button" (click)="actualizar()" >Actualizar</button>
</div>


