<button class="new-recordatorio"> Nuevo Recordatorio</button>
<div style="clear:both"></div> <!-- Agrega un elemento que limpia el float -->


<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="registros">
        05:00 am
      </mat-panel-title>
      <mat-panel-description>
        Autorización cita medica
      </mat-panel-description>
      <mat-panel-description>
        Entre Semana
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="contenido-panel">
      <div id="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.8132545459694!2d-74.18066814960272!3d4.627382343560752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9e78e858e735%3A0x711ced74f38bbaf6!2sCra.%2087%20%2350-48%2C%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1678849291410!5m2!1ses!2sco"
        width="180" height="200" style="pointer-events:none;"></iframe>
      </div>

      <div class="checkboxes-container-container">
        <label class="checkboxes-label">Repetir:</label>
        <div class="checkboxes-container">
          <label><input type="checkbox" checked />Lun</label>
          <label><input type="checkbox" checked />Mar</label>
          <label><input type="checkbox" checked />Mie</label>
          <label><input type="checkbox" checked />Jue</label>
          <label><input type="checkbox" checked   />Vie</label>
          <label><input type="checkbox" />Sab</label>
          <label><input type="checkbox" />Dom</label>
        </div>
      </div>
      <div class="form-group horizontal">
        <label for="texto1">Lugar:</label>
        <input type="text" id="Lugar" name="Lugar" placeholder="Casa">
      </div>

      <div class="form-group horizontal">
        <label for="texto2">Sonido:</label>
        <input type="text" id="Sonido" name="Sonido" placeholder="Tono1">
      </div>
      <button class="edit-recordatorio"> Editar</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>


<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title class="registros">
        11:00 am
      </mat-panel-title>
      <mat-panel-description>
        Abrir cuenta de ahorros bco
      </mat-panel-description>
      <mat-panel-description>
        Sabado
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="contenido-panel">
      <div id="map-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.8132545459694!2d-74.18066814960272!3d4.627382343560752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9e78e858e735%3A0x711ced74f38bbaf6!2sCra.%2087%20%2350-48%2C%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1678849291410!5m2!1ses!2sco"
        width="180" height="200" style="pointer-events:none;"></iframe>
      </div>

      <div class="checkboxes-container-container">
        <label class="checkboxes-label">Repetir:</label>
        <div class="checkboxes-container">
          <label><input type="checkbox" />Lun</label>
          <label><input type="checkbox" />Mar</label>
          <label><input type="checkbox" />Mie</label>
          <label><input type="checkbox" />Jue</label>
          <label><input type="checkbox" />Vie</label>
          <label><input type="checkbox" checked />Sab</label>
          <label><input type="checkbox" />Dom</label>
        </div>
      </div>
      <div class="form-group horizontal">
        <label for="texto1">Lugar:</label>
        <input type="text" id="Lugar" name="Lugar" placeholder="Casa">
      </div>

      <div class="form-group horizontal">
        <label for="texto2">Sonido:</label>
        <input type="text" id="Sonido" name="Sonido" placeholder="Tono1">
      </div>


      <button class="edit-recordatorio"> Editar</button>

    </div>
  </mat-expansion-panel>
</mat-accordion>


