<div class="container">


  <div>
    Inicio de Sesión
  </div>

  <div>
    Eres un nuevo usuario? <a href="registro">Crear una cuenta</a>
  </div>

  <img class="logo" src="../assets/alarmafondo.png" alt="Logo">

<div>

<div class="input-icon">
  <input type="text" placeholder="usuario">
  <span class="icon"><i class="fas fa-search"></i></span>
</div>

<div class="input-icon">
  <input type="password" placeholder="Password">
  <span class="icon-passwd"><i class="fas fa-search"></i></span>
</div>
</div>


<div class="buttons">
  <button class="login-button" routerLink="/alarmas" >Login</button>
</div>

<div >
  <a href="recuperapass">olvido su contraseña?</a>
</div>

</div>
