<div class="container">

  <div>
    Perfil
  </div>

  <hr>

  <div class="input-icon">
    <input type="text" placeholder="usuario">
    <span class="icon"><i class="fas fa-search"></i></span>
  </div>

  <div class="input-icon">
    <input type="text" placeholder="Password">
    <span class="icon-passwd"><i class="fas fa-search"></i></span>
  </div>

  <div class="input-icon">
    <input type="text" placeholder="Correo">
    <span class="icon-correo"><i class="fas fa-search"></i></span>
  </div>

  <div class="button-container">
    <div class="cerrar">
      <button [routerLink]="">Cerrar Sesión</button>
    </div>
    <div class="actualizar">
      <button>Actualizar</button>
    </div>
 </div>

</div>
