<div class="container">


  <div>
    Crear Usuario
  </div>

<hr>

<div class="input-icon">
  <input type="text" placeholder="usuario">
  <span class="icon"><i class="fas fa-search"></i></span>
</div>

<div class="input-icon">
  <input type="password" placeholder="Password">
  <span class="icon-passwd"><i class="fas fa-search"></i></span>
</div>

<div class="input-icon">
  <input type="text" placeholder="Correo">
  <span class="icon-correo"><i class="fas fa-search"></i></span>
</div>
</div>


<div class="buttons">
  <button class="login-button" (click)="registrar()" >Registrarte</button>
</div>


