<div class="container">


  <div>
    Validar Correo
  </div>

<hr>
  <div class ="mensaje">
    Inserte el código de 6 dígitos que recibió por correo para recuperar su contraseña
  </div>
  <div class ="mensaje2">
    <input class="borde-inferior" type="text">
    <input class="borde-inferior" type="text">
    <input class="borde-inferior" type="text">
    <input class="borde-inferior" type="text">
    <input class="borde-inferior" type="text">
    <input class="borde-inferior" type="text">
  </div>



<div class="buttons">
  <button class="login-button" routerLink="/cambiarpass">Enviar Código</button>
</div>


<div >
  <a href="sendcodes">desea generar un nuevo codigo?</a>
</div>
